<%= form_with(model: service) do |form| %>
  <div class="box">
    <%= render "partials/errors", object: service %>

    <div class="field">
      <%= form.label :title, "Название", class: "label" %>
      <%= form.text_field :title, class: "input" %>
    </div>

    <div class="field">
      <%= form.label :category_id, "Категория", class: "label" %>
      <%= form.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Выбрать категорию') %>
    </div>

    <div class="field buttons">
      <% if service.new_record? %>
        <%= form.submit "Сохранить", class: "button is-success" %>
      <% else %>
        <%= form.submit "Обновить", class: "button is-success" %>
      <% end %>
      <%= link_to "Назад", :back, class: "button" %>
    </div>
  </div>
<% end %>
