<%= form_with(model: mechanic) do |form| %>
  <div class="box">
    <%= render "partials/errors", object: mechanic %>

    <div class="field">
      <%= form.label :name, "Имя", class: "label" %>
      <%= form.text_field :name, class: "input" %>
    </div>

    <div class="field buttons">
      <% if mechanic.new_record? %>
        <%= form.submit "Сохранить", class: "button is-success" %>
      <% else %>
        <%= form.submit "Обновить", class: "button is-success" %>
      <% end %>
      <%= link_to "Назад", :back, class: "button" %>
    </div>
  </div>
<% end %>
