<div class="container">
  <div class="block">
    <h2 class="title">Список исполнителей</h2>
    <%= link_to "Добавить нового", new_mechanic_path, class: "button is-primary" %>
  </div>

  <div id="mechanics" class="block">
    <% @mechanics.each do |mechanic| %>
      <div class="box">
        <%= render mechanic %>
        <div class="buttons">
          <%= link_to "Посмотреть заказы", mechanic, class: "button" %>
          <%= link_to "Редактировать", edit_mechanic_path(mechanic), class: "button" %>
          <%= button_to "Удалить", mechanic, method: :delete, class: "button is-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
