<p style="color: green"><%= notice %></p>

<%= render @mechanic %>

<div>
  <%= link_to "Редактировать", edit_mechanic_path(@mechanic) %> |
  <%= link_to "Назад", :back %>

  <%= button_to "Удалить", @mechanic, method: :delete %>
</div>
