<%= form_with(model:order) do |form| %>
  <%= render "partials/errors", object: order %>

  <div>
    <%= form.label :customer, "Заказчик", style: "display: block" %>
    <%= form.text_field :customer %>
  </div>

  <div>
    <%= form.label :mechanic, "Исполнитель", style: "display: block" %>
    <%= form.collection_select(:mechanic_id, Mechanic.all, :id, :name, :prompt => 'Выбрать исполнителя') %>
  </div>

  <div>
    <%= form.collection_check_boxes(:service_ids, Service.all, :id, :title) %>
  </div>

  <% if order.new_record? %>
    <%= form.submit "Добавить" %>
  <% else %>
    <%= form.submit "Обновить" %>
  <% end %>
<% end %>
