<div class="block">
  <p class="subtitle has-text-weight-medium"><%= link_to ("Заказ №"+order.id.to_s), order %></p>
  <p><strong>Дата создания:</strong> <%= order.created_at %></p>
  <p><strong>Заказчик:</strong> <%= order.customer %></p>
  <p><strong>Исполнитель:</strong> <%= order.mechanic.name %></p>

  <div class="content mt-4">
    <% if order.services.any? %>
      <p><strong>Список услуг:</strong></p>
      <ol>
        <% order.services.each do |s| %>
          <li><%= s.title %></li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
