<div class="container">
  <div class="block">
    <h2 class="title">Список заказов</h2>
    <%= link_to "Создать новый", new_order_path, class: "button is-primary" %>
    <%= link_to "В порядке убывания", filtered_orders_path(:desc), class: "button" %>
    <%= link_to "В порядке возрастания", filtered_orders_path(:asc), class: "button" %>
    <%= link_to "По имени заказчика", filtered_orders_path(:customer), class: "button" %>
    <%= link_to "В работе", filtered_orders_path(:status_active), class: "button" %>
    <%= link_to "Завершенные", filtered_orders_path(:status_done), class: "button" %>
    <%= link_to 'Выгрузить в xlsx', orders_path(params: request.params, format: :xlsx), target: :_blank, class: "button" %>
  </div>
  <div class="block is-flex is-flex-direction-row">
    <div class="mr-4">
      <%= form_tag(orders_path, :method => 'get') do %>
        <%= collection_select :order, :mechanic_id, Mechanic.all, :id, :name, {:prompt => 'Поиск по исполнителю'}, {:class=>'select is-small'} %>
        <%= submit_tag "Показать", class: "button is-small" %>
      <% end %>
    </div>
    <div>
      <%= form_tag(orders_path, :method => 'get') do %>
        <%= collection_select :order, :category_id, Category.all, :id, :name, {:prompt => 'Поиск по категории'}, {:class=>'select is-small'} %>
        <%= submit_tag "Показать", class: "button is-small" %>
      <% end %>
    </div>
  </div>

  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="N">№</abbr></th>
        <th>Cтатус</th>
        <th>№ заказа</th>
        <th>Дата создания</th>
        <th>Заказчик</th>
        <th>Исполнитель</th>
        <th>Услуги</th>
        <th>Категории услуг</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @orders.each_with_index do |order, i| %>
      <tbody>
        <tr>
          <th><%= i+1 %></th>
          <th><%= visibility(order) %></th>
          <th><%= link_to order.id, order %></th>
          <td><%= order.created_at.to_formatted_s(:db) %></td>
          <td><%= order.customer %></td>
          <td><%= link_to order.mechanic.name, mechanic_path(order.mechanic) %></td>
          <td>
            <ul>
              <% order.services.each do |s| %>
                <li><%= s.title %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <ul>
              <% order.unique_categories(order.services).each do |s| %>
                <li><%= s %></li>
              <% end %>
            </ul>
          </td>
          <td><%= link_to "Редактировать", edit_order_path(order), class: "button" %></td>
          <td><%= button_to "Удалить", order, method: :delete, class: "button is-danger" %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
