<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Редактировать", edit_category_path(@category) %> |
  <%= link_to "Назад", :back %>

  <%= button_to "Удалить", @category, method: :delete %>
</div>
