<!DOCTYPE html>
<html>
  <head>
    <title>Autoservice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="hero is-light is-fullheight">
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
      <div class="hero-body">
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    <section>
  </body>
</html>
